.split-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 56px);
  width: 100%;
}

.gutter {
  background-color: #2a2b2e;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #404246;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}